body{
    background-color: rgb(139, 96, 43);
    display: flex;
}
.container{
    width: 100%;
    background-color: rgb(5, 56, 39);
    height: 100%;
}
h2{
    font-family: fantasy;
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    color: crimson;
}
h3{
    color: cadetblue;
    font-family: cursive;
    text-decoration: underline;
    font-size: 27px;
    margin-left: 3px;
}
li{
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer{
    text-align: center;
    color: chocolate;
    font-family: cursive;
    font-weight: bolder;
    font-size: 20px;
}